<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col">
            <div class="col-xl-12">
                <div class="card shadow">
                  <div class="card-header border-0">
                    <div class="row align-items-center">
                      <div class="col">
                        <h3 class="mb-0">Mi Equipo > Hacha y Tiza FC</h3>
                      </div>
                    </div>
                  </div>
                  <!-- <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="nav-link active" href="#">Invitar Jugador</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Adminsitrar Plantel</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Cambiar Logo</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link disabled" href="#">Calendario</a>
                      </li>
                    </ul> -->

                            <ng-template algo=true>
                                <div class="col-xl-12">
                                    <div class="card shadow">
                                      <div class="card-header border-0">
                                        <div class="row align-items-center">
                                          <div class="col">
                                            <h3 class="mb-0">Plantilla</h3>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="table-responsive">
                                        <!-- Projects table -->
                                        <table class="table align-items-center table-flush">
                                          <thead class="thead-light">
                                            <tr>
                                              <th scope="col">Avatar</th>
                                              <th scope="col">Jugador</th>
                                              <th scope="col">Posicion</th>
                                              <th scope="col">Goles</th>
                                              <th scope="col">Asistencias</th>
                                              <th scope="col">Eliminar</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <th>
                                                <div class="avatar-group">
                                                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                                                      <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
                                                    </a>
                                                  </div>
                                              </th>
                                              <th scope="row">
                                                NicoPerez22
                                              </th>
                                              <td>
                                                35
                                              </td>
                                              <td>
                                                <div class="d-flex align-items-center">
                                                  <span class="mr-2">60%</span>
                                                </div>
                                              </td>
                                              <td>
                                                  <div class="d-flex align-items-center">
                                                    <span class="mr-2">60%</span>
                                                  </div>
                                                </td>
                                              <td>
                                                  <button class="btn btn-danger">
                                                      <i class="fa fa-trash"></i>
                                                  </button>
                                              </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                  <div class="avatar-group">
                                                      <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                                                        <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
                                                      </a>
                                                    </div>
                                                </th>
                                                <th scope="row">
                                                  NicoPerez22
                                                </th>
                                                <td>
                                                  35
                                                </td>
                                                <td>
                                                  <div class="d-flex align-items-center">
                                                    <span class="mr-2">60%</span>
                                                  </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                      <span class="mr-2">60%</span>
                                                    </div>
                                                  </td>
                                                <td>
                                                    <button class="btn btn-danger">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </td>
                                              </tr>                                          <tr>
                                                  <th>
                                                    <div class="avatar-group">
                                                        <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                                                          <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
                                                        </a>
                                                      </div>
                                                  </th>
                                                  <th scope="row">
                                                    NicoPerez22
                                                  </th>
                                                  <td>
                                                    35
                                                  </td>
                                                  <td>
                                                    <div class="d-flex align-items-center">
                                                      <span class="mr-2">60%</span>
                                                    </div>
                                                  </td>
                                                  <td>
                                                      <div class="d-flex align-items-center">
                                                        <span class="mr-2">60%</span>
                                                      </div>
                                                    </td>
                                                  <td>
                                                      <button class="btn btn-danger">
                                                          <i class="fa fa-trash"></i>
                                                      </button>
                                                  </td>
                                                </tr>                                          <tr>
                                                    <th>
                                                      <div class="avatar-group">
                                                          <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                                                            <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
                                                          </a>
                                                        </div>
                                                    </th>
                                                    <th scope="row">
                                                      NicoPerez22
                                                    </th>
                                                    <td>
                                                      35
                                                    </td>
                                                    <td>
                                                      <div class="d-flex align-items-center">
                                                        <span class="mr-2">60%</span>
                                                      </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                          <span class="mr-2">60%</span>
                                                        </div>
                                                      </td>
                                                    <td>
                                                        <button class="btn btn-danger">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </td>
                                                  </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>
                                  </div>
                            </ng-template>

                          <ng-template >

                              <div class="col-xl-12">
                                  <div class="card shadow">
                                    <div class="card-header border-0">
                                      <div class="row align-items-center">
                                        <div class="col">
                                          <h3 class="mb-0">Plantilla</h3>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="table-responsive">
                                      <!-- Projects table -->
                                      <table class="table align-items-center table-flush">
                                        <thead class="thead-light">
                                          <tr>
                                            <th scope="col">Escudo</th>
                                            <th scope="col">Equipo</th>
                                            <th scope="col"></th>
                                            <th scope="col">Equipo</th>
                                            <th scope="col">Escudo</th>
                                            <th scope="col">Reportar</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th>
                                              <div class="avatar-group">
                                                  <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                                                    <img alt="Image placeholder" src="../assets/img/theme/GELP.png" class="rounded-circle">
                                                  </a>
                                                </div>
                                            </th>
                                            <th scope="row">
                                                Hacha y tiza FC
                                            </th>
                                            <td>
                                                VS
                                            </td>
                                            <td>
                                              <div class="d-flex align-items-center">
                                                <span class="mr-2">Atlanta eSports</span>
                                              </div>
                                            </td>
                                            <td>
                                                <div class="avatar-group">
                                                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                                                      <img alt="Image placeholder" src="../assets/img/theme/107.png" class="rounded-circle">
                                                    </a>
                                                  </div>
                                            </td>
                                            <td>
                                                <button class="btn btn-danger">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                            </td>
                                          </tr>


                                          <tr>
                                              <th>
                                                <div class="avatar-group">
                                                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                                                      <img alt="Image placeholder" src="../assets/img/theme/107.png" class="rounded-circle">
                                                    </a>
                                                  </div>
                                              </th>
                                              <th scope="row">
                                                  Atlanta eSports
                                              </th>
                                              <td>
                                                  VS
                                              </td>
                                              <td>
                                                <div class="d-flex align-items-center">
                                                  <span class="mr-2">Hacha y tiza FC</span>
                                                </div>
                                              </td>
                                              <td>
                                                  <div class="avatar-group">
                                                      <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                                                        <img alt="Image placeholder" src="../assets/img/theme/GELP.png" class="rounded-circle">
                                                      </a>
                                                    </div>
  
                                              </td>
                                              <td>
                                                  <button class="btn btn-danger">
                                                      <i class="fa fa-edit"></i>
                                                  </button>
                                              </td>
                                            </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                          </ng-template>
                </div>
              </div>
        </div>
    </div>
  </div>
  