<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col">
            <div class="col-xl-12">
                <div class="card shadow">
                  <div class="card-header border-0">
                    <div class="row align-items-center">
                      <div class="col">
                        <h3 class="mb-0">Mi Equipo > Hacha y Tiza FC</h3>
                      </div>
                    </div>
                  </div>
                        <div class="card-header border-0">
                          <div class="row align-items-center">
                            <div class="col">
                              <h3 class="mb-0">Resultado - Fecha 1</h3>
                            </div>
                          </div>
                        </div>
                        <div class="table-responsive">
                          <!-- Projects table -->
                          <div class="table-responsive">
                              <!-- Projects table -->
                              <table class="table align-items-center table-flush">
                                <tbody>
                                  <tr>
                                    <th>
                                      <div class="avatar-group">
                                          <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                                            <img alt="Image placeholder" src="../assets/img/theme/GELP.png" class="rounded-circle">
                                          </a>
                                        </div>
                                    </th>
                                    <th scope="row">
                                        <div class="form-group col-md-12">
                                            <label for="inputState">Hacha y Tiza FC</label>
                                            <select id="inputState" class="form-control">
                                              <option selected>Seleccione resultado</option>
                                              <option>1</option>
                                              <option>2</option>
                                              <option>3</option>
                                            </select>
                                          </div>
                                    </th>
                                    <td>
                                        VS
                                    </td>
                                    <td>
                                      <div class="d-flex align-items-center">
                                          <div class="form-group col-md-12">
                                              <label for="inputState">Atlanta eSports</label>
                                              <select id="inputState" class="form-control">
                                                <option selected>Seleccione resultado</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>s
                                              </select>
                                            </div>
                                      </div>
                                    </td>
                                    <td>
                                        <div class="avatar-group">
                                            <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                                              <img alt="Image placeholder" src="../assets/img/theme/107.png" class="rounded-circle">
                                            </a>
                                          </div>
                                    </td>
                                    <td>
                                    </td>
                                  </tr>

                                </tbody>
                              </table>
                        </div>
                      </div>
              </div>
        </div>
    </div>
  </div>
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

  <div class="container-fluid mt--7">
      <div class="row">
        <div class="col">
              <div class="col-xl-12">
                  <div class="card shadow">
                          <div class="card-header border-0">
                            <div class="row align-items-center">
                              <div class="col">
                                <h3 class="mb-0">Selecciona jugadores</h3>
                              </div>
                            </div>
                          </div>
                          <div class="table-responsive">
                            <!-- Projects table -->
                            <div class="table-responsive">
                                <!-- Projects table -->
                                <table class="table align-items-center table-flush">
                                  <tbody>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                            <div class="form-group col-md-12">
                                                <label for="inputState">Juagdor</label>
                                                <select id="inputState" class="form-control">
                                                  <option selected>Seleccione Juagdor</option>
                                                  <option>1</option>
                                                  <option>2</option>
                                                  <option>3</option>
                                                </select>
                                              </div>
                                              </div>
                                        </td>
                                        <td>
                                          <div class="d-flex align-items-center">
                                              <div class="form-group col-md-12">
                                                  <label for="inputState">Posicion</label>
                                                  <select id="inputState" class="form-control">
                                                    <option selected>Seleccione Posicion</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>s
                                                  </select>
                                                </div>
                                          </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="form-group col-md-12">
                                                    <label for="inputState">Goles</label>
                                                    <select id="inputState" class="form-control">
                                                      <option selected>Seleccione Goles</option>
                                                      <option>1</option>
                                                      <option>2</option>
                                                      <option>3</option>s
                                                    </select>
                                                  </div>
                                            </div>
                                          </td>
                                          <td>
                                              <div class="d-flex align-items-center">
                                                  <div class="form-group col-md-12">
                                                      <label for="inputState">Asistencias</label>
                                                      <select id="inputState" class="form-control">
                                                        <option selected>Seleccione Asistencias</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>s
                                                      </select>
                                                    </div>
                                              </div>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="form-group col-md-12">
                                                        <label for="inputState">Tarjetas</label>
                                                        <select id="inputState" class="form-control">
                                                          <option selected>Seleccione tarjetas</option>
                                                          <option>1</option>
                                                          <option>2</option>
                                                          <option>3</option>s
                                                        </select>
                                                      </div>
                                                </div>
                                              </td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <button (click)="AdminEquipo()" type="button" class="btn btn-success">Enviar</button>
                                                </div>
                                            </td>
                                    </tr>
                                  </tbody>
                                </table>
                                  <table class="table align-items-center table-flush">

                                    <thead class="thead-light">
                                        <tr>
                                          <th scope="col">Avatar</th>
                                          <th scope="col">Jugador</th>
                                          <th scope="col">Posicion</th>
                                          <th scope="col">Goles</th>
                                          <th scope="col">Asistencias</th>
                                          <th scope="col">Tarjetas</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <th>
                                            <div class="avatar-group">
                                                <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                                                  <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
                                                </a>
                                              </div>
                                          </th>
                                          <th scope="row">
                                            NicoPerez22
                                          </th>
                                          <td>
                                            35
                                          </td>
                                          <td>
                                            <div class="d-flex align-items-center">
                                              <span class="mr-2">60%</span>
                                            </div>
                                          </td>
                                          <td>
                                              <div class="d-flex align-items-center">
                                                <span class="mr-2">60%</span>
                                              </div>
                                            </td>
                                          <td>
                                              <div class="d-flex align-items-center">
                                                  <span class="mr-2">60%</span>
                                                </div>
                                          </td>
                                        </tr>
                                        <tr>
                                            <th>
                                              <div class="avatar-group">
                                                  <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                                                    <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
                                                  </a>
                                                </div>
                                            </th>
                                            <th scope="row">
                                              NicoPerez22
                                            </th>
                                            <td>
                                              35
                                            </td>
                                            <td>
                                              <div class="d-flex align-items-center">
                                                <span class="mr-2">60%</span>
                                              </div>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                  <span class="mr-2">60%</span>
                                                </div>
                                              </td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <span class="mr-2">60%</span>
                                                  </div>
                                            </td>
                                          </tr>                                          <tr>
                                              <th>
                                                <div class="avatar-group">
                                                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                                                      <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
                                                    </a>
                                                  </div>
                                              </th>
                                              <th scope="row">
                                                NicoPerez22
                                              </th>
                                              <td>
                                                35
                                              </td>
                                              <td>
                                                <div class="d-flex align-items-center">
                                                  <span class="mr-2">60%</span>
                                                </div>
                                              </td>
                                              <td>
                                                  <div class="d-flex align-items-center">
                                                    <span class="mr-2">60%</span>
                                                  </div>
                                                </td>
                                              <td>
                                                  <div class="d-flex align-items-center">
                                                      <span class="mr-2">60%</span>
                                                    </div>
                                              </td>
                                            </tr>                                          <tr>
                                                <th>
                                                  <div class="avatar-group">
                                                      <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                                                        <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
                                                      </a>
                                                  </div>
                                                </th>
                                                <th scope="row">
                                                  NicoPerez22
                                                </th>
                                                <td>
                                                  35
                                                </td>
                                                <td>
                                                  <div class="d-flex align-items-center">
                                                    <span class="mr-2">60%</span>
                                                  </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                      <span class="mr-2">60%</span>
                                                    </div>
                                                  </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <span class="mr-2">60%</span>
                                                    </div>
                                                </td>
                                              </tr>
                                              <td>
                                                  <div class="d-flex align-items-center">
                                                      <button (click)="reporteConfirmado()" type="button" class="btn btn-success">Confirmar Reporte</button>
                                                  </div>
                                              </td>
                                      </tbody>
                                </table>
                          </div>
                        </div>
                </div>
          </div>
      </div>
    </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
      <div class="container-fluid mt--7">
          <div class="row">
            <div class="col">
                  <div class="col-xl-12">
                      <div class="card shadow">
                              <div class="card-header border-0">
                                <div class="row align-items-center">
                                  <div class="col">
                                    <h3 class="mb-0">Reporte Fotos</h3>
                                  </div>
                                </div>
                              </div>
                              <div class="table-responsive">
                                <!-- Projects table -->
                                <div class="table-responsive">
                                    <!-- Projects table -->
                                    <table class="table align-items-center table-flush">
                                      <tbody>







                                      </tbody>
                                    </table>
                                      <table class="table align-items-center table-flush">
    
                                        <thead class="thead-light">




                                        </thead>
                                        <tbody>

                                            <div class="d-flex align-items-center">
                                                <div class="form-group col-md-12">
                                                    <img src="assets/img/theme/upload-cloud-outline.png"  width="42" height="42">
                                                </div>
                                            </div>
                                            
                                            <div class="d-flex align-items-center">
                                                <div class="form-group col-md-12">
                                                    <img src="assets/img/theme/upload-cloud-outline.png"  width="42" height="42">
                                                </div>
                                            </div>
                                            
                                            <div class="d-flex align-items-center">
                                                <div class="form-group col-md-12">
                                                    <img src="assets/img/theme/upload-cloud-outline.png"  width="42" height="42">
                                                </div>
                                            </div>



                                        </tbody>
                                    </table>
                              </div>
                            </div>
                    </div>
              </div>
          </div>
        </div>
        </div>